{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've recived your request to reset your password. We have sent you a E-mail with  instructions for re-setting your password, if an account exists with the email you entered.
		    You should receive a re-direct link for reset password.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered correct E-mail address you registered with and check your spam folder.
		  </p>
		  <p class="m-auto p-2">If not registered<a href="{% url 'register' %}"> click here</a></p>
		  <p class="m-auto p-2"><a href="{% url 'Home' %}">HOME</a></p>
	</div>
</div>

{% endblock %}